/* This is a shadow file to demonstrate how to customize built-in section components */
.root {
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
}

.wrapper {
  width: 100%;
  background-color: #ffeee2;
}

.container {
  flex-direction: column;
  gap: var(--space-5);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  text-align: center;
}

.content p {
  margin-top: 0;
  margin-bottom: var(--space-3);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
  justify-content: center;
  margin-top: var(--space-4);
}

.buttons a {
  min-width: 136px;
}
