.container {
  margin-bottom: 2rem;
}

.content {
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 50%;

  display: flex;
  flex-direction: row;
  gap: var(--space-3);
  padding: var(--space-3);
  /* max-width: var(--max-width-narrow); */
}

.testimonial {
  scroll-snap-align: center;
  border: 1px solid rgb(158, 158, 158);
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  align-self: stretch;
  justify-content: start;
  text-align: justify;
  margin-top: 1rem;
}

.quote {
  font-size: var(--font-size-3);
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
  border-radius: var(--border-radius);
  /* max-width: unset; */
  /* position: relative; */
  width: 80vw;
  margin: 0;
  margin-bottom: var(--space-3);
  /* width: 100%; */
}

.author {
  display: flex;
  gap: var(--space-2);
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.avatar {
  border-radius: 99999px;
  overflow: hidden;
}

.authorInfo {
  font-size: var(--font-size-3);
  font-weight: bold;
  font-style: normal;
}

@media screen and (min-width: 1000px) {
  .content {
    width: 100%;
    max-width: var(--max-width);
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    margin-left: auto;
    margin-right: auto;

    gap: var(--space-4);
  }

  .quote {
    /* padding: 0 var(--space-5); */
    max-width: 384px;
    width: 100%;
    flex: 1 1;
  }
}
